In [10]:
import pandas as pd
import numpy as np

In [2]:
data = []
for i in range(1, 11):
    row = [i, i * 2, i * 3]
    data.append(row)

In [3]:
df = pd.DataFrame(data, columns=["A", "B", "C"])

In [4]:
print(df)

    A   B   C
0   1   2   3
1   2   4   6
2   3   6   9
3   4   8  12
4   5  10  15
5   6  12  18
6   7  14  21
7   8  16  24
8   9  18  27
9  10  20  30

In [6]:
filtered_df = df[df["B"] > 15]
print(filtered_df)

    A   B   C
7   8  16  24
8   9  18  27
9  10  20  30

In [7]:
filtered_df1 = df[(df["B"]>7) & (df["C"]<21)]
print(filtered_df1)

   A   B   C
3  4   8  12
4  5  10  15
5  6  12  18

In [8]:
df['A'] = df['A'].replace(6, 20)
print(df)

    A   B   C
0   1   2   3
1   2   4   6
2   3   6   9
3   4   8  12
4   5  10  15
5  20  12  18
6   7  14  21
7   8  16  24
8   9  18  27
9  10  20  30

In [11]:
df2 = pd.DataFrame(np.random.rand(2, 3), columns = ['A', 'B', 'C'])
print(df2)

          A         B         C
0  0.966481  0.201720  0.100127
1  0.831171  0.494214  0.241817

In [12]:
df=pd.concat([df,df2])
print(df)

           A          B          C
0   1.000000   2.000000   3.000000
1   2.000000   4.000000   6.000000
2   3.000000   6.000000   9.000000
3   4.000000   8.000000  12.000000
4   5.000000  10.000000  15.000000
5  20.000000  12.000000  18.000000
6   7.000000  14.000000  21.000000
7   8.000000  16.000000  24.000000
8   9.000000  18.000000  27.000000
9  10.000000  20.000000  30.000000
0   0.966481   0.201720   0.100127
1   0.831171   0.494214   0.241817